@inject GoogleGebruiker Gebruiker
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <a>Hallo @Gebruiker.GebruikerInfo.Voornaam</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    protected override void OnInitialized()
    {
        Gebruiker.StateChanged += OnGebruikerStateAdvancedStateChanged;
    }

    void OnGebruikerStateAdvancedStateChanged(object sender, EventArgs e) => StateHasChanged();

    void IDisposable.Dispose()
    {
        Gebruiker.StateChanged -= OnGebruikerStateAdvancedStateChanged;
    }

}