@inherits LayoutComponentBase
<MatThemeProvider Theme="@theme2">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div class="content px-4">
            <MatToastContainer />
            @Body
        </div>
    </div>
    <style>
        body {
            background-image: url(spikes.png);
        }
    </style>
</MatThemeProvider>

@code {

    MatTheme theme2 = new MatTheme()
    {
        Primary = MatThemeColors.LightGreen._500.Value,
        Secondary = MatThemeColors.LightGreen._500.Value

    };

}