<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SmartschoolProject</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inventaris">
                <MatIcon Icon="list"></MatIcon>
                &nbsp; Inventaris
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inschrijving">
                <MatIcon Icon="people"></MatIcon>
                &nbsp; Inschrijving schoolbal
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="defecten">
                <span class="oi oi-plus" aria-hidden="true"></span> Defecten
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="winkel">
                <MatIcon Icon="store"></MatIcon>
                <span aria-hidden="true"></span>&nbsp; Mijn winkels
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="winkels">
                <MatIcon Icon="store"></MatIcon>
                <span aria-hidden="true"></span> &nbsp; Bekijk alle winkels
            </NavLink>
        </li>
        @*@if (Gebruiker.Admin == 1)
        {*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                <span class="oi oi-eye" aria-hidden="true"></span> Admin
            </NavLink>
        </li>
        @*}*@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="temp">
                <span class="oi oi-plus" aria-hidden="true"></span> Temp
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
