@page "/admin"
@inject NavigationManager navigationManager

<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkels</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    @foreach (WinkelDomain.Winkel winkel in winkels)
                    {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            @winkel.winkelnr
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            @winkel.naam
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            @winkel.beheerder
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                            @winkel.actief
                        </div>
                    }
                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Bekijk alle winkelverzoeken</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>

        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>

@code {

    public DBConnection DBConnection { get; set; } = new DBConnection();
    public List<Lokaal> lokalen { get; set; } = new List<Lokaal>();
    public List<WinkelDomain.Winkel> winkels = new List<WinkelDomain.Winkel>();

    protected override void OnInitialized()
    {
        lokalen = DBConnection.GetAllLokalen();
        winkels = DBConnection.GetAllWinkels();
    }

}