@page "/"
@inject GoogleGebruiker GoogleGebruiker
@inject ISessionStorageService sessionStorage

    <h1>Welkom op de BA Zandpoort website</h1>
<img src="https://busleydenatheneum.be/sites/default/files/thumbnails/image/BA_bol.jpg" style="width: 200px"/>

@code{

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(GoogleGebruiker.GebruikerInfo.Naam))
        {
            string email = (await AuthenticationStateTask).User.Identity.Name;

            GebruikerInfo temp = await GebruikerInfoBuilder.BuildGebruikerInfoFromEmail(email);
            this.GoogleGebruiker.GebruikerInfo = temp;

            this.GoogleGebruiker.Refresh();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await sessionStorage.SetItemAsync("GoogleGebruiker", this.GoogleGebruiker);
    }
}