@page "/"
@inject GoogleGebruiker GoogleGebruiker

<h1>Hello, world!</h1>

Welcome to your new app.

@code{

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(GoogleGebruiker.GebruikerInfo.Naam))
        {
            string email = (await AuthenticationStateTask).User.Identity.Name;

            GebruikerInfo temp = await GebruikerInfoBuilder.BuildGebruikerInfoFromEmail(email);
            this.GoogleGebruiker.GebruikerInfo = temp;

            this.GoogleGebruiker.Refresh();
        }
    }
}