@page "/"
@inject GoogleGebruiker GoogleGebruiker

<h1>Hello, world!</h1>

Welcome to your new app.

@code{

    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected async override Task OnInitializedAsync()
    {
        string email = (await AuthenticationStateTask).User.Identity.Name;
        this.GoogleGebruiker = new GoogleGebruiker(email);
        await Task.Delay(100);
        this.GoogleGebruiker.Refresh();
    }

}