@page "/inloggen"

<h1>Inloggen</h1>

<div>
    <MatTextField @bind-Value="@naam" Label="naam"></MatTextField>
</div>
<div>
    <MatTextField @bind-Value="@wachtwoord" Label="wachtwoord"></MatTextField>
</div>
<div>
    <MatButton Raised="true">Raised</MatButton>
</div>

<style>
    div {
        margin-bottom: 10px;
    }
</style>

@code {
    public int naam { get; set; }
    public int wachtwoord { get; set; }
}