@page "/winkeltoevoegen"
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Net.Http.Headers
<style>
    .titel {
        margin-bottom: 2rem;
    }

    .naamWinkel {
        width: 30%;
    }
</style>
<MatH2 Class="titel">Winkel toevoegen</MatH2>
<EditForm Model="myModel" OnInvalidSubmit="@fail" OnValidSubmit="@succes">
    <DataAnnotationsValidator />
        <p>
            <MatTextField Label="Naam winkel" Class="naamWinkel" @bind-Value="myModel.NaamWinkel" />
        </p>
    
        <MatButton Type="submit" Raised="true" OnClick="@checkWaarde">Toevoegen</MatButton>
        
</EditForm>

@code {

    public bool waarde = false;
    public string naamWinkel = "";
    DBConnection dBConnection = new DBConnection();

    public void fail()
    {
        waarde = false;
    }

    public void succes()
    {
        waarde = true;
        NavigationManager.NavigateTo("/winkel");
    }

    LoginModel myModel = new LoginModel();

    public class LoginModel
    {
        [Required]
        public string NaamWinkel { get; set; }
    }

    public void checkWaarde()
    {
        if (waarde)
        {
            Winkel winkel = new Winkel();

            winkel.naam = myModel.NaamWinkel;
            winkel.beheerder = "test";

            dBConnection.AddWinkel(winkel);

        }
    }

}