@page "/winkel"
@inject NavigationManager navigationManager

<style>
    .item {
        padding: 0;
    }

    .knop {
        margin-left: 2rem;
    }

    .winkelnaam {
        width: 10rem;
    }
</style>


<MatH2>Mijn winkels</MatH2>

<MatList>


    @foreach (Winkel winkel in winkels)
    {
        <MatListItem Class="item">

            <div class="winkelnaam">@winkel.naam</div>

            <MatButton Unelevated="true" Class="knop">bewerken</MatButton>

            <MatCheckbox @bind-Value="@winkel.actief" Label="Actief"></MatCheckbox>
            
        </MatListItem>
        <MatListDivider></MatListDivider>

    }


</MatList>


<br />
<MatButton Unelevated="true" @onclick="@GaNaarWinkelToevoegen">Winkel toevoegen</MatButton>
@code {

    public DBConnection DBConnection = new DBConnection();
    public List<Winkel> winkels = new List<Winkel>();

    protected override void OnInitialized()
    {
        winkels = DBConnection.GetAllWinkels();
    }

    public void GaNaarWinkelToevoegen()
    {
        navigationManager.NavigateTo("/winkeltoevoegen");
    }

}
