@page "/winkels"
    
<style>
    .tabs {
        background-color: rgba(193, 193, 193, 0.3);
        }
</style>

    <div class="tabs">
        <img src="https://image.freepik.com/vrije-vector/vlees-winkel-logo_71835-89.jpg" alt="Afbeeldingsresultaat voor winkel logo"/> <h1>WinkelNaam</h1>
    </div>

@code {

}