@page "/winkels"
    
<style>
    .tabs {
        background-color: rgba(193, 193, 193, 0.3);
        }
</style>

    <div class="tabs">
        <img src="https://image.freepik.com/vrije-vector/vlees-winkel-logo_71835-89.jpg" style="width: 150px; height: 150px;"alt="Afbeeldingsresultaat voor winkel logo"/> <h2>WinkelNaam</h2>
    </div>

@code {

}