@page "/winkeltoevoegen"

    <MatAccordion>
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Personal data</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 800px;">
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatTextField @bind-Value="naamWinkel" Label="Naam winkel" Style="width:100%"></MatTextField>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatSelect Label="Beheerder" @bind-Value="beheerder" Style="width:100%">
                                <--!-->Implement de db met de options, Alle options zijn testwaardes</--!-->
                                <MatOptionString Value="saab">Saab</MatOptionString>
                                <MatOptionString Value="mercedes">Mercedes</MatOptionString>
                                <MatOptionString Value="audi">Audi</MatOptionString>
                            </MatSelect>
                        </div>
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                            <MatButton Outlined="true" Icon="add" Style="width:99%">Voeg winkel toe</MatButton>
                        </div>
                        
                    </div>
                </div>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>
@code {

    string naamWinkel;
    string beheerder;
}