@page "/winkeltoevoegen"
@inject NavigationManager NavigationManager
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Net.Http.Headers

<style>
    .titel {
        margin-bottom: 2rem;
    }

    .naamWinkel {
        width: 30%;
    }
</style>
<MatH2 Class="titel">Winkel toevoegen</MatH2>

<EditForm Model="myModel" OnValidSubmit="@succes">
    <DataAnnotationsValidator />

    <p>
        <MatTextField Label="Naam winkel" Class="naamWinkel" @bind-Value="myModel.NaamWinkel" />
        <MatTextField @bind-Value="@beheerder" Label="Beheerder"></MatTextField>
    </p>

    <MatButton Type="submit" Raised="true">Toeeoegen</MatButton>

</EditForm>

@code {

    public string beheerder;

    DBConnection dBConnection = new DBConnection();

    LoginModel myModel = new LoginModel();
    public class LoginModel
    {
        [Required]
        public string NaamWinkel { get; set; }
    }

    public void succes()
    {

        Winkel winkel = new Winkel();

        winkel.naam = myModel.NaamWinkel;
        winkel.beheerder = beheerder;

        dBConnection.AddWinkel(winkel);

        NavigationManager.NavigateTo("/winkel");
    }
}