@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}
    <style>
        body {
            background-image: url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .border {
            background-color: rgb(255, 255, 255,0.8);
            border: 3px solid #89b129 !important;
            margin: auto;
            margin-top: 200px;
            text-align: center;
            padding: 10px;
            padding-bottom: 15px;
            border-radius: 5px;
        }

        .footer {
            overflow: hidden !important;
            background-color: white !important;
            border-top: 5px solid #89b129 !important;
        }

        .container {
            text-align: center !important;
        }

        button {
            background-color: #89b129 !important;
            border: none !important;
        }

        .navbar {
            border-bottom: 5px solid #89b129 !important;
        }
    </style>
    <div class="border">
        <link href="css/site.css" rel="stylesheet" type="text/css" />
        <h1>Welkom</h1>
        <h4>Aangezien het de eerste keer is dat je op de site <br /> inlogt moet je nog even op "Doorgaan" drukken.</h4>

        <div class="row">
            <div class="col-md-4" style="margin: auto">
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" style="margin: auto">
                    <div style="display: none; max-height: 0px;" asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group" style="visibility: hidden; max-height: 0px;">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                    <button style="margin: auto" type="submit" class="btn btn-primary">Doorgaan</button>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
