@page "/inventaris"

    <MatAccordion>
        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Lokaal @lokaal.lokaalNr</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <MatList>
                    <MatListItem>
                        Banken
                        <MatButton Label="-" style="padding-right:20px" OnClick="@lokaal.verwijderBank" />
                        <p style="padding-right:300px">@lokaal.aantalBanken</p>
                        <MatButton Label="+" style="position: absolute; right: 0" OnClick="@lokaal.voegBankToe" />

                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    <MatListItem>
                        Beamer
                    </MatListItem>
                    <MatListDivider></MatListDivider>
                    <MatListItem>
                        Stock
                    </MatListItem>
                </MatList>
               


            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>


@code{

    public Lokaal lokaal { get; set; }

    protected override void OnInitialized()
    {
        //TODO pull uit databank
        lokaal = new Lokaal();
        lokaal.lokaalNr = 214;
    }

}
